{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img class="logo" src="/img/logo.png" alt="vidjot_Logo"  />
            <h3 class="text-center">Account Login</h3>
        <form action="/users/login" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control"  name="email">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control"  name="password">
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
        </div>
    </div>
</div>