<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img class="logo" src="/img/logo.png" alt="vidjot_Logo"  />
            <h3 class="text-center">Account Login</h3>
        <form action="/users/register" method="POST">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="name" class="form-control"  name="name" value="{{name}}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control"  name="email" value="{{email}}">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control"  name="password" value="{{password}}">
            </div>
            <div class="form-group">
                <label for=" confirm_password">Comfrim Password</label>
                <input type="password" class="form-control"  name="password2" value="{{password2}}">
            </div>
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
        </div>
    </div>
</div>